.app {
  width: 100%;
  height: calc(100dvh - 2 * var(--padding-body));
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}

.app > * {
  text-align: center;
}

.app__header {
  max-width: 800px;
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}

.logo {
  display: block;
  width: 10rem;
  height: 10rem;
  margin-left: 1rem;
  flex: 0 0 10rem;
  object-fit: cover;
  border-radius: 50%;
  border: 0.2rem solid var(--color-basic-pink);
}

.app_title {
  flex: 1 1 auto;
}
