.app {
  width: 100%;
  height: calc(100dvh - 2 * var(--padding-body));
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}

.app > * {
  text-align: center;
}

.app__header {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  display: block;
  width: 10rem;
  flex: 0 0 10rem;
  height: auto;
  object-fit: cover;
}
